p{
    margin-bottom: 20px;
    span{
        color: red;
    }
}
mat-form-field {
    width: 100%;
    .input-investimento{
        text-align: start !important;
    }
}

mat-dialog-actions{
    align-items: center;
    justify-content: center;
    button{
        width: 150px;
    }
}